

$haha:rgb(255, 136, 0);
$haha2:60px+30px;
.k{
    background-color: $haha;

    font-size: $haha2;
}

.k2{
    background-color: $haha;

    font-size: 60px+30px;
}
.k3{
    background-color: $haha;

    font-size: 60px+30px;
}





.container{
    background-color: rgb(0, 255, 98);
    .oo{
        background-color: red; 
     }
     #op:hover{
         font-size: 60px;
         .f{
             font-size: 60px;
         }
     }
}